a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'old-studio2';
  font-weight: normal;
  font-style: normal;
  src: url('../public/fonts/old-studio2.ttf');
}

@font-face {
  font-family: 'old-studio4';
  font-weight: normal;
  font-style: normal;
  src: url('../public/fonts/old-studio4.ttf');
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

:root {
  --swiper-theme-color: darkgrey !important;
}